<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">课程管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/students">学生表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">课程表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enrollments">选课表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test-funcs">功能测试</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test-config">配置测试</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/others">其他表格</a>
            </li>
        </ul>
    </div>
</nav>